div.bike-title-wrapper {
  width: 100%;
  padding-top: var(--navbar_height, 75px);
  display: block;
  align-self: center;
  justify-content: center;
}

div.into_image {
    display: block;
    height: 100vh;
    width: 100%;
}

div.intro_image img {
    display: block;
    margin: 0 auto;
}

/* TODO get backup font? */
#dividor-top-title {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    white,
    white 25%,
    green 25%,
    green 50%,
    yellow 50%,
    yellow 75%,
    black 75%
  );
}

#title {
  background-color: white;
  font-size: 48pt;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#dividor-bottom-title {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    black,
    black 25%,
    yellow 25%,
    yellow 50%,
    green 50%,
    green 75%,
    white 75%
  );
}
/*** TITLE END ***/

/*** BIKE HEADER START ***/
div.dividor-top {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    white,
    white 25%,
    green 25%,
    green 50%,
    yellow 50%,
    yellow 75%,
    black 75%
  );
}

/* To center the title of the bike */
h2 {  
  height: 40px;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

div.dividor-bottom {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    black,
    black 25%,
    yellow 25%,
    yellow 50%,
    green 50%,
    green 75%,
    white 75%
  );
}
/*** BIKE HEADER END ***/

/*** MAIN CONTENT ***/
div.bike-content {
    background-color: #baf0ff; /* baby blue */
    color: #4c4b4b; /* grey */
    font-size: 16pt;
    line-height: 25pt;
    width: 100%;
    padding: 20px;
    margin: 0 auto; /* For horizontally centered children */
}

div.bike-content p {
    margin: auto;
    width: 50%;
}

/* To center the image of the bike */
div.bike div.bike-image {
  height: 100%;
  width: 80%;
  display: inline-block;
  float: right;
}

div.bike-image img {
    height: auto;
    max-height: 100vh;
    width: 100%;
}
