div.bike-title-wrapper {
  width: 100%;
  display: block;
  align-self: center;
  justify-content: center;
  padding-top: var(--navbar_height, 75px);
}

div.into-image {
    display: block;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

div.intro-image img {
    display: block;
    width: 100%;
}

/* TODO get backup font? */
#dividor-top-title {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    white,
    white 25%,
    green 25%,
    green 50%,
    yellow 50%,
    yellow 75%,
    black 75%
  );
}

#title {
  background-color: white;
  font-size: 48pt;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#dividor-bottom-title {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    black,
    black 25%,
    yellow 25%,
    yellow 50%,
    green 50%,
    green 75%,
    white 75%
  );
}
/*** TITLE END ***/

/*** BIKE HEADER START ***/
div.dividor-top {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    white,
    white 25%,
    green 25%,
    green 50%,
    yellow 50%,
    yellow 75%,
    black 75%
  );
}

/* To center the title of the bike */
h2 {  
  height: 40px;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

div.dividor-bottom {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    black,
    black 25%,
    yellow 25%,
    yellow 50%,
    green 50%,
    green 75%,
    white 75%
  );
}
/*** BIKE HEADER END ***/

div.bike { 
  background-color: #a3eaf7;
  height: 100vh; /* To compensate for fixed nav menu */
  min-height: 100vh; /* Needs a good absolute minimum height */
  /* For scroll snapping... */
  scroll-snap-type: y mandatory;
  scroll-padding: -var(--navbar_height, 175px); /* compensate for header */
  /* Snap to the top of the div, minus navbar height */
  scroll-snap-align: start;
  /* For filling with the image */
  resize: both;
  margin: 0;
  padding: 0;
}

div.bike div.bike-content {
    font-size: 14pt;
    line-height: 25pt;
    width: 20%;
    display: inline-block;
    float: left;
    padding: 15px;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    overflow: hidden;
}

/* To center the image of the bike */
div.bike div.bike-image {
  height: 100%;
  width: 80%;
  display: inline-block;
  float: right;
}

div.bike-image img {
    height: auto;
    max-height: 100vh;
    width: 100%;
}
