div.bike-title-wrapper {
  width: 100%;
  padding-top: var(--navbar_height, 75px);
  display: block;
  align-self: center;
  justify-content: center;
}

#title {
  background-color: white;
  font-size: 48pt;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*** TITLE END ***/

/*** IMAGE START ***/
div.into_image {
  flex: 1;
  display: block;
  width: auto;
  resize: none;
}

div.intro_image img {
  display: block;
  height: auto;
  width: 100%;
  min-width: 400px;
  max-width: 900px;
  margin: 0 auto;
}
/*** IMAGE END ***/

/*** BIKE HEADER START ***/

/* To center the title of the bike */
h2 {  
  height: auto;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: white;
}

/*** BIKE HEADER END ***/

/* To center the image of the bike */
div.bike div.bike-image {
  height: 100%;
  width: 80%;
  display: inline-block;
  float: right;
}

div.bike-image img {
  height: auto;
  max-height: 100vh;
  width: 100%;
}
