.preload * { /* To prevent unwanted transitions on page load */
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
 }


/*** TITLE BEGIN ***/
div.title-wrapper {
  height: auto;
  width: 100%;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

h2.title {
  background-color: inherit;
  text-align: inherit;
}

h2.title a {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  font-size: 1.5em;
  color: rgb(120,120,140);
  text-decoration: none;
}
/*** TITLE END ***/

/*** POST INFO START ***/
div.sub {
  color: darkslategray;
  font-size: 1.25em;
  height: auto;
}

div.sub a {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
  padding-top: 2em;
  padding-bottom: 2em;
}

div.sub-info {
  display: inline-flex;
  padding-left: 2em;
}

#category-display {
  padding-left: 5%;
}

@media screen and (max-width: 678px) {
  div.sub-info {
    height: 100%;
    display: block;
  }
  
  div.sub a {
    line-height: normal;
  }

  #date-display {
    padding-left: 5%;
  }

  #comment-display {
    padding-left: 5%;
  }
}

/*** POST INFO END ***/

/*** IMAGE START ***/
div.blog-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  div.blog-image img {
    width: 100%;
  }
}
/*** IMAGE END ***/

/*** NEXT PREV START ***/
div.blog_nav {
  margin-top: 1em;
  margin-bottom: 4em;
}

div.blog_nav_button {
  font-size: 2em;
  display: inline-block;
}

#prev_posts {
  padding-left: 5%;
}

#next_posts {
  padding-right: 5%;
  float: right;
}

div.blog_nav a {
  text-decoration: none;
  text-decoration-color: none;
  color: grey;
}

@media screen and (max-width: 1248px) {
  div.blog_nav_button {
    display: block;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #prev_posts {
    padding-left: 0px;
  }
  
  #next_posts {
    padding-right: 0px;
    float: none;
  }


  div.blog_nav a {
    display: inline-block; 
  }
}
/*** NEXT PREV END ***/

/*** SIDEBAR START ***/
div h4 {
  color: darkslategray;
  padding-left: 5%;
  font-size: 1em;
}
div.sidebar div {
  padding-left: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.sidebar div a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
  text-decoration-color: none;
  color: grey;
}
/*** SIDEBAR END ***/
