@media only screen and (min-width: 1000px) { /* For tablets and desktops */

}

html{
  scroll-behavior:smooth
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar_height: 75px;
}

body {
  margin: 0;
  background: beige;
  font-size: 16pt;
}

.preload * { /* To prevent unwanted transitions on page load */
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
 }

/*** NAVBAR BEGIN ***/
#nav-menu-clear-fix {
  height: var(--navbar_height, 175px);
}
/*** NAVBAR END ***/

/*** POST IMAGE BEGIN ***/
/*** POST IMAGE END ***/

/*** TITLE BEGIN ***/
div.title-wrapper {
  height: auto;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 25px;
}

h3.title a {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  font-size: 36pt;
  color: rgb(120,120,140);
  text-decoration: none;
}

/*** TITLE END ***/

/*** POST INFO START ***/
div.sub {
  color: darkslategray;
  font-size: 16pt;
  height: auto;
}

div.sub a {
  display: inline-block;
  line-height: 50px;
  color: inherit;
  text-decoration: inherit;
  text-decoration-color: none;
}

div.sub-info {
  height: 60px;
  display: inline-flex;
  padding-left: 20px;
}

#category-display {
  padding-left: 5%;
}

@media screen and (max-width: 580px) {
  div.sub-info {
    min-height: 40px;
    height: 100%;
    display: block;
  }
  
  div.sub a {
    line-height: normal;
  }

  #category-display {
    padding-left: 5%;
  }

  #date-display {
    padding-left: 5%;
  }

  #comment-display {
    padding-left: 5%;
  }
}

/*** POST INFO END ***/

/*** TEXT CONTENT START ***/
#blog-content {
  padding-left: 10%;
  padding-right: 10%;
  color: rgb(80, 80, 110);
  font-size: 18pt;
  line-height: 32pt; 
}

#blog-content p {
  padding-bottom: 1em;
}
/*** TEXT CONTENT END ***/

/*** READ MORE START ***/
div.read-more {
  line-height: auto;
  margin: auto;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}

div.read-more a {
  padding: 0;
}

/*** READ MORE END ***/

/*** NEXT PREV START ***/
div.blog_nav {
  margin-top: 40px;
  margin-bottom: 40px;
}

div.blog_nav_button {
  font-size: 24pt;
  display: inline-block;
}

#prev_posts {
  padding-left: 5%;
}

#next_posts {
  padding-right: 5%;
  float: right;
}

div.blog_nav a {
  text-decoration: none;
  text-decoration-color: none;
  color: grey;
}

@media screen and (max-width: 580px) {
  div.blog_nav_button {
    display: block;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #prev_posts {
    padding-left: 0px;
  }
  
  #next_posts {
    padding-right: 0px;
    float: none;
  }


  div.blog_nav a {
    display: inline-block; 
  }
}
/*** NEXT PREV END ***/

/*** SIDEBAR START ***/
div h4 {
  color: darkslategray;
  padding-left: 5%;
  font-size: 18pt;
}
div.sidebar div {
  padding-left: 10%;
  margin-top: 24px;
  margin-bottom:24px;
}

div.sidebar div a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-decoration-color: none;
  color: grey;
}
/*** SIDEBAR END ***/
