/*** MAIN CONTENT ***/
div.content {
  padding-top: 1em;
  padding-bottom:1em;
  padding-left: 10%;
  padding-right: 10%;
  color: rgb(80, 80, 110); /* grey */
  font-size: 1.5em;
  line-height: 2em; 
  margin: 0 auto; /* For horizontally centered children */
}

div.secondary_content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 20%;
  padding-right: 20%;
  color: rgb(80, 80, 110); /* TODO: darker grey */
  font-size: 1.25em;
  line-height: 1.5em; 
  margin: 0 auto; /* For horizontally centered children */
}
/*** MAIN CONTENT END ***/
