/*** MAIN CONTENT ***/
div.content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 10%;
  padding-right: 10%;
  color: rgb(80, 80, 110); /* grey */
  font-size: 1.5em;
  line-height: 2em; 
  margin: 0 auto; /* For horizontally centered children */
}

div.content p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.secondary_content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: auto;
  padding-right: auto;
  color: rgb(80, 80, 110); /* TODO: darker grey */
  font-size: 1.25em;
  line-height: 1.5em; 
  margin: 0 auto; /* For horizontally centered children */
  text-align: center;
  width: 60%;
}
/*** MAIN CONTENT END ***/
