html{
  scroll-behavior:smooth
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --navbar_height: 75px;
}

body {
  margin: 0;
  background-color: red; /* red */
  font-size: 14pt;
  colour: black;
}

/*** NAVBAR BEGIN ***/
nav {
  overflow: hidden;
  background-color: #333; /* black */
  list-style-type: none;
  display: block; /* display as block element */
  height: var(--navbar_height);
  width: 100%; /* extend over the whole page */
  margin: 0;
  padding: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Overlap other content */
}

nav a {
  height: 100%;
  width: auto;
  float: left; 
  display: table-cell;
  vertical-align: middle;
  margin: auto 0;
  text-align: center;
  padding: 30px 16px; /* hack for centering text vertically... */
  text-decoration: none;
  font-size: 14pt;
  color: white;
  transition: color, 0.5s, linear, 0s;
  -webkit-transition: color, 0.5s linear 0s;
  -moz-transition: color, 0.5s linear 0s;
}

nav a#logo {
  width: 250px;
  padding: 20px 20px 0px 16px; /* hack for centering text vertically... */
  font-size: 18pt;
}

nav a:hover {
  background: white;
  color: black;
  text-decoration: none;
}
/*** NAVBAR END ***/

/*** TITLE BEGIN ***/
#title {
  height: 100vh; /* To compensate for fixed nav menu */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* TODO get backup font? */
#title h1 {
  font-size: 48pt;
}
/*** TITLE END ***/

div.bike { 
  /* This selector should specify the default colour of the bike section
   * background, the centering of the image and title (possibly any text) as
   * well as the font colour.  Individual bike sections should override the
   * default background colour (possibly?) */
  height: 100vh; /* To compensate for fixed nav menu */
  min-height: 100vh; /* Needs a good absolute minimum height */
  position: relative; /* for centering its contents... */
  /* For scroll snapping... */
  scroll-snap-type: y mandatory;
  scroll-padding: 0px;  
  /* Snap to the top of the div, minus navbar height */
  scroll-snap-align: start;
}

div.dividor-top {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    white,
    white 25%,
    green 25%,
    green 50%,
    yellow 50%,
    yellow 75%,
    black 75%
  );
}

/* To center the title of the bike */
h2 {  
  height: 40px;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

div.dividor-bottom {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    black,
    black 25%,
    yellow 25%,
    yellow 50%,
    green 50%,
    green 75%,
    white 75%
  );
}

#khs-alite {
  background-color: yellow;
}

#giant-cypress {
  background-color: green;
}

#cambio-rino {
  background-color: red;
}

/* To center the image of the bike */
body div.bike img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
