#game-container {
  background: linear-gradient(
    to bottom,
    #1050c9,
    pink 50%,
    white 75%
  );
  display: block;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 800px;
  position: relative;
}

canvas { position: absolute }
#background { z-index 1 }
#terrain { z-index: 2 }
#ui { z-index: 3 }

div.game-header {
  opacity: 0.5;
  background-color: grey;
  height: 80px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div.game-footer {
  opacity: 0.5;
  background-color: grey;
  height: 80px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
